<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All users</title>
</head>
<body>
<table class="table-dark">
    <thead>
    <tr class="table-dark">
        <th scope="col">#</th>
        <th scope="col">Имя</th>
        <th scope="col">Фамилия</th>
        <th scope="col">Возраст</th>
        <th scope="col">E-mail</th>
        <!--<th scope="col">Права доступа</th>-->
    </tr>
    </thead>
    <tbody>
    <tr th:each="user: ${users}">
        <td th:text="${user.getId()}"/>
        <td th:text="${user.getName()}"/>
        <td th:text="${user.getLastName()}"/>
        <td th:text="${user.getAge()}"/>
        <td th:text="${user.getEmail()}"/>
        <!--<td th:text="${user.getRoles}"/>-->
        <td> <a th:href="@{/admin/{id}(id=${user.getId()})}"/>открыть<a/> </td>
    </tr>
    </tbody>
</table>

<br/>

<a th:href="@{/admin/new}">Добавить пользователя</a>

<br/>
<br/>
<hr/>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign out"/>
</form>
</body>
</html>