<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
<table class="table-dark">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Age</th>
        <th scope="col">E-mail</th>
        <!--<th scope="col">Права доступа</th>-->
    </tr>
    </thead>
    <tbody>
    <tr>
        <td th:text="${user.getId()}"/>
        <td th:text="${user.getName()}"/>
        <td th:text="${user.getLastName()}"/>
        <td th:text="${user.getAge()}"/>
        <td th:text="${user.getEmail()}"/>
        <!--<td th:text="${user.getRoles()}"/>-->
    </tr>
    </tbody>
</table>
<br/>
<a th:href="@{/admin/{id}/edit(id=${user.getId()})}">Редактировать</a>

<form th:method="DELETE" th:action="@{/admin/{id}(id=${user.getId()})}">
    <input type="submit" th:value="Удалить"/>
</form>

<br/>
<br/>
<hr/>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign out"/>
</form>
</body>
</html>